asgiref
attrs
black
certifi
cffi
charset-normalizer
click
coreapi
coreschema
coverage
cryptography
defusedxml
dj-database-url
Django==5.0.3
django-cors-headers
django-extensions
django-filter
django-rest-swagger
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
drf-writable-nested
execnet
Faker
gunicorn
hypothesis
idna
iniconfig
itypes
Jinja2
Markdown
markdown-it-py
MarkupSafe
mdurl
mixer
model-bakery
mypy-extensions
oauthlib
openapi-codec
packaging
pathspec
Pillow
platformdirs
pluggy
pprintpp
psycopg2-binary
pycparser
Pygments
PyJWT
psycopg2
# pyscopg2
pytest
pytest-black
pytest-clarity
pytest-cov
pytest-django
pytest-sugar
pytest-xdist
python-dateutil
python-dotenv
python3-openid
pytz
PyYAML
requests-oauthlib
rest-framework-simplejwt
rich
simplejson
six
social-auth-app-django
social-auth-core
sortedcontainers
sqlparse

termcolor
toml
typing_extensions
upgrade-requirements
uritemplate
urllib3
whitenoise
