asgiref
attrs
black
build
certifi
cffi
charset-normalizer
click
coreapi
coreschema
coverage
cryptography
defusedxml
dj-database-url
Django>=3,<5.0.4
django-cors-headers
django-extensions
django-filter
django-rest-swagger
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
drf-writable-nested
drf-yasg
execnet
Faker
gunicorn
hypothesis
idna
inflection
iniconfig
itypes
Jinja2
Markdown
markdown-it-py
MarkupSafe
mdurl
mixer
model-bakery
mypy-extensions
mysqlclient
oauthlib
openapi-codec
packaging
pathspec
pillow
pip-tools
platformdirs
pluggy
pprintpp
# psycopg2
# psycopg2-binary
pycparser
Pygments
PyJWT
pyproject_hooks
pytest
pytest-black
pytest-clarity
pytest-cov
pytest-django
pytest-sugar
pytest-xdist
python-dateutil
python-dotenv
python3-openid
pytz
PyYAML
requests-oauthlib
rest-framework-simplejwt
rich
setuptools
simplejson
six
social-auth-app-django
social-auth-core
sortedcontainers
sqlparse
termcolor
toml
typing_extensions
upgrade-requirements
uritemplate
urllib3
wheel
whitenoise